# Existing Adzuna Settings
ADZUNA_APP_ID=ADZUNA_APP_ID
ADZUNA_APP_KEY=ADZUNA_APP_KEY

# SMTP Settings (for Gmail by default)
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="SMTP_USER@gmail.com"

# IMPORTANT: This must be a special "Application Password", not a regular password!
SMTP_PASSWORD="SMTP_PASSWORD"

# Client Email (where to send files)
RECIPIENT_EMAIL="YOUR_RECIPIENT_EMAIL"
